<%= form_for(@slide, :remote => true, :html => {:class=>"clearfix"}) do |f| %>

<div class="left">
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Slide Manager</h1>

  <div>
    <%= f.label :header, :class => 'grey' %>
    <%= f.text_field :header, :class => 'field' %>
	<br/>
    <span class="grey">suggestions:</span>
    <%= select_tag "header_suggestions", options_for_select([ "pick...", "coming up", "Blue Moon news", "Did you know?", "---------", "west coast", "TwoStep", "East Coast", "Shag","TripleTwo","Waltz", "Tango", "Cha", "Salsa" ]) %>
  </div>
  <div><br/><br/></div>
<!--
  <div>
    <%= f.label :footer, :class => 'grey' %>
    <%= f.text_field :footer, :class => 'field' %>
    <br/>
	<span class="grey">suggestions:</span>
    <%= select_tag "footer_suggestions", options_for_select([ "pick...", "coming up", "Blue Moon news", "Did you know?", "---------", "WCS", "TwoStep", "East Coast", "Shag","TripleTwo","Waltz", "Tango", "Cha", "Salsa" ]) %>
  </div>
-->
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#header_suggestions').change(function(){
			$('#slide_header').val( $(this).val() );
		});
		$('#footer_suggestions').change(function(){
			$('#slide_footer').val( $(this).val() );
		});
	});
</script>
<div class="left">
  <div>
    <%= f.label :title, :class => 'grey' %>
    <%= f.text_field :title, :class => 'field' %>
  </div>
  <div>
    <%= f.label :subtitle, :class => 'grey' %>
    <%= f.text_field :subtitle, :class => 'field' %>
  </div>
  <div>
    <%= f.label :body, :class => 'grey' %>
    <%= f.text_area :body, :rows => 3, :cols => 30, :class => 'field' %>
  </div>
</div>

<div class="left right">
  <div>
    <%= f.label :duration, :class => 'grey' %>
    <%= f.text_field :duration, :size => 3, :class => 'field' %> seconds
  </div>
  <div><br/><br/><br/></div>

	<input id="submit" type="submit" value="save" class="bt_login"/>
</div>

<% end %>
