<h1>Slideshow Control Panel</h1>

<script type="text/javascript">
	$(document).ready(function() {

		// Expand Panel
		$("#open").click(function(){
			$("div#panel").slideDown("slow");	
		});	

		// Collapse Panel
		$("#close").click(function(){
			$("div#panel").slideUp("slow");	
		});		

		// Switch buttons from "Log In | Register" to "Close Panel" on click
		$("#toggle a").click(function () {
			$("#toggle a").toggle();
		});		

	});
</script>

<script type="text/javascript">
$(document).ready(function() {

	init();
	
	function init() {
		// start with a empty playlist each time this page loads but grab it from the SESSION on the server if possible
		_playlist = <% if @playlist.nil? %>[]<% else %><%= raw @playlist %><% end %>;
		
		new_slide();
		//edit_slide(1);		
	}

	function new_slide() {
		//alert("hi")
		$.get(
		'/slides/new',
		function( response ){
			$('#slide_div').html(response)
		})		
	}
	
	function edit_slide(id) {
		$.get(
		'/slides/'+id+'/edit',
		function( response ){
			$('#slide_div').html(response)
		})				
	}
	
	function update_playlist(){
		// I found this on StackOverflow
		_playlist = []
		$('#current_playlist').children('li').each(function(idx, elm) {
		  _playlist.push($(elm).attr('data-id'))
		});
		alert( "the current playlist is " + _playlist );
		//$.get('ajax.php', {action: 'updateOrder', 'order[]': order});						
	}

	$("#create_another").live('click', function(){
		// this is used by any element that needs to create a new slide without reloading page
		new_slide();
		return false; // don't return, thus bypassing following any HREF
  	});
 
});

</script>

	<!-- Login -->
<div id="toppanel">
	<div id="panel">
		<div class="content clearfix" id="slide_div">
			

		</div>
	</div> <!-- /login -->	

    <!-- The tab on top -->	
	<div class="tab">

		<ul class="login">
	    	<li class="left">&nbsp;</li>
	        <li>Click to add a slide:</li>
			<li class="sep">|</li>
			<li id="toggle">
				<a id="open" class="open" href="#">Open Panel</a>
				<a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
			</li>

	    	<li class="right">&nbsp;</li>
		</ul> 
	</div> <!-- / top -->
	
</div> <!--panel -->

    <div id="container">
		<div id="content" style="padding-top:30px;">

				<style>
				#all_slides, #current_playlist, #trashcan { list-style-type: none; margin: 0; padding: 0; margin-right: 10px;  background-color: #444444; min-height: 50px; min-width: 250px;}
				#all_slides li, #current_playlist li, #trashcan li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; }
				#div_trashcan {margin-left: 75px;}
				#div_all_slides, #div_current_playlist, #div_trashcan { float: left;}
				#div_all_slides span, #div_current_playlist span, #div_trashcan span { text-transform: uppercase;}
				#div_all_slides span { color: #999999; }
				#div_current_playlist span { color: #5c8500; //dark green }
				#div_trashcan span { color: #cc1100; //blood orange }
				#all_slides li { background: #666; }
				#current_playlist li { background: #5c8500; //dark green}
				#trashcan li { background: #cc1100; //blood orange}
				</style>
				<script>
				$(function() {
					$( "#all_slides, #current_playlist, #trashcan" ).sortable({
						connectWith: ".connectedSortable"
					}).disableSelection();
					
					
					$( "#current_playlist" ).bind( "sortupdate", function(event, ui){
						//alert( "I just moved item with id " + ui.item.attr('data-id') );

						// tried to get the following to work by called update_playlist but JS couldn't find that function...scope issue?
						
						// I found this on StackOverflow
						_playlist = []
						$('#current_playlist').children('li').each(function(idx, elm) {
						  _playlist.push($(elm).attr('data-id'))
						});
						//alert( "the current playlist is " + _playlist );
						//$.get('ajax.php', {action: 'updateOrder', 'order[]': order});	
						alert( $('#current_playlist').sortable('serialize') )
						$.ajax({
							type: "POST",
							url: '/playlist/update',
							data: { playlist : _playlist },
							success: function( response ){
								//alert("I updated the playlist in the session on the server");
							}
						});						
					});
				});
				
				</script>


				<div class="demo">

				<div id="div_all_slides"><span>all slides</span>
				<ul id="all_slides" class="connectedSortable">
					<% @slides.each do |slide| %>
					<li class="ui-state-default" data-id="<%=slide.id%>"><%= slide.title %></li>
					<% end %>
				</ul>
				</div>

				<div id="div_current_playlist"><span>current playlist</span>
				<ul id="current_playlist" class="connectedSortable">
					<% @playlist_slides.each do |slide| %>
					<li class="ui-state-highlight" data-id="<%=slide.id%>"><%= slide.title %></li>
					<% end %>
				</ul>
				</div>
				
				<div id="div_trashcan"><span>trashcan</span>				
				<ul id="trashcan" class="connectedSortable">

				</ul>
				</div>
				
				</div>

				<br clear="all"/><br clear="all"/>
There are <%= @slides.count %> slides in the DB
<!--
			<h2>I am a H2 header</h2>	
			<p>Lorem ipsum dolor sit amet, <a href="">consectetuer adipiscing</a> elit. Praesent scelerisque commodo massa. Ut volutpat. Maecenas luctus augue quis velit. Nulla tincidunt pede in erat.</p>
			
			<p class="highlight">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent <a href="">scelerisque commodo massa</a>. Ut volutpat. Maecenas luctus augue quis velit. Nulla tincidunt pede in erat.</p>
			
-->

			<h2>Other actions:</h2>
			<ul>
				<li>wipe out current playlist</li>
				<li>kill all non-playlist slides</li>
				<li>kill all non-playlist slides older than 30 min</li>
				<li>kill slides in trash</li>
				<li>open slideshow in a stripped out browser</li>
			</ul>

		</div><!-- / content -->		
	</div><!-- / container -->

